---
layout: default
title: Design & Code Blog
---

{% for post in site.posts %}
<article class="blogpost blogpost--loop-item">
    <header>

      <time datetime="{{ post.date | date: "%Y-%m-%d" }}" pubdate>
        <a href="{{ post.date | date: '/%Y/' | prepend: site.baseurl | prepend: '/archive' }}">
          {{ post.date | date: "%b %-d, %Y" }}
        </a>
      </time>

      <span class="post-category">
        <a href="{{ post.categories[0] | downcase | replace: ' ', '-' | prepend: '/categories/' | prepend: site.baseurl }}">
          {{ post.categories }}
        </a>
      </span>

      <span class="post-length">
        {{ post.content | number_of_words | plus:100 | divided_by:180 }} min read
      </span>

      <h1>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>
      {% if post.img %}
        <img src="{{ post.img }}">
      {% endif %}
    </header>
    {{ post.excerpt | replace:'</p>', ' <a href="-post-url-" class="read-more-link">Read more …</a></p>' | replace: '-post-url-', post.url }}
  </article>
{% endfor %}
