<article class="blogpost blogpost--archive">
  <header>
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}" pubdate>
      <a href="{{ post.date | date: '/%Y/' | prepend: site.baseurl | prepend: '/archive' }}">
        {{ post.date | date: "%b %-d, %Y" }}
      </a>
    </time>

    <span class="post-category">
      {{ post.categories }}
    </span>

    <span class="post-length">
      {{ post.content | number_of_words | plus:100 | divided_by:180 }} min read
    </span>
      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
  </header>
</article>
