{% for post in site.posts %}
{% capture postyear %} {{ post.date | date: '%Y' }} {% endcapture %}
{% capture pageyear %} {{ page.year }} {% endcapture %}
{% capture postmonth %} {{ post.date | date: '%m%Y' }} {% endcapture %}
{% capture nextpostmonth %} {{ post.next.date | date: '%m%Y' }} {% endcapture %}

{% if postyear == pageyear %}
{% if postmonth != nextpostmonth %}
{% if forloop.index != 1 %}
</section>
{% endif %}

<h2><a href="{{ post.date | date: '/%Y/' | prepend: site.baseurl | prepend: '/archive' }}">{{ post.date | date: '%B' }}</a></h2>
<section>
  {% endif %}

  {% include archive_postlisting.html %}
  {% endif %}
  {% endfor %}
