<footer class="page-footer">
  <nav>
    <a href="{{ '/about' | prepend: site.baseurl }}"
       title="About" {% if page.title == 'About' %}
       class="active" {% endif %}>
      About
    </a>

    <a href="{{ '/imprint' | prepend: site.baseurl }}"
       title="Imprint" {% if page.title == 'Imprint' %}
       class="active" {% endif %}>
      Imprint
    </a>
  </nav>

  <section>
    <a class="social-icon" href="https://github.com/{{ site.github_username }}">
      {% include icons/github.html %} 
    </a>

    <a class="social-icon" href="https://twitter.com/{{ site.twitter_username }}">
      {% include icons/twitter.html %} 
    </a>
  </section>

  <section>
    <p>
      &copy;Yasin Güzeldal
    </p>
  </section>

</footer>
