{% capture current_page_path %}{{ page.url | split:'/' }}{% endcapture %}
<header class="page-header">
  <div class="page-header__content">
    <a href="{{ site.baseurl }}/" class="logo">
      {% include icons/yg-logo.html %} 
    </a>

    <nav>
      <ul>
        <li>
          <a href="{{ site.baseurl }}/" title="Blog"
             {% if page.type == 'post' or page.type == 'archive' %}
             class="active"
             {% elsif page.url == '/index.html' %}
             class="active"
             {% endif %}> Blog </a>
        </li>

        <li>
          <a href="{{ '/about' | prepend: site.baseurl }}" title="About"
             {% if page.title == 'About' %}
             class="active"
             {% endif %}> About </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
