html {
  font-family: "Fira Sans", sans-serif;
  font-size: 100%;
  color: $black;
  font-variant-ligatures: common-ligatures;
}

h1 {
  margin: 0px 0px 15px 0px;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.2em;
}

h2 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.2em;
}

h3 {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.2em;
}

p {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0px 0px 30px;
}

a {
  text-decoration: none;
  color: $black;
  transition: 0.1s;
  &:hover {
    color: $blue;
  }
}

