.page-footer {
  border-top: 2px solid $black;
  text-align: center;
  nav {
    a {
      display: inline-block;
      font-size: 1.3em;
      font-weight: 300;
      margin: 30px 10px;
      &.active {
        font-weight: 600;
      }
    }
  }
  .social-icon {
    display: inline-block;
    margin: 0px 10px 30px 10px;
  }
  svg {
    width: 25px;
    height: 25px;
    fill: $black;
    &:hover {
      fill: $blue;
    }
  }
}
