.archive-title {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  small {
    display: block;
    font-size: 0.4em;
    font-weight: 300;
    line-height: 1.2em;
  }
}
.blogpost {
  &--loop-item {
    margin-bottom: 75px;
  }
  header {
    time a, .post-category, .post-category a, .post-length {
      font-weight: 300;
      color: #a6a6a6;
      display: inline-block;
      margin-bottom: 5px;
    }
    time a:hover, .post-category a:hover {
      color: $blue;
    }
    .post-category {
      text-transform: capitalize;
      &:before, &:after {
        content: "\22c5";
        margin: 0px 10px;
      }
    }
  }
  .read-more-link {
    color: $blue;
    &:hover {
      border-bottom: 1px solid $blue;
    }
  }
  &--archive {
    width: 47.2%;
    display: inline-table;
    margin-bottom: 30px;
    &:nth-of-type(2n+1) {
      margin-right: 5%;
    }
    time a, .post-category, .post-length {
      font-size: 0.85em;
    }
    h2{
      font-size: 1.5em;
    }
  }
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin:  0px 20px 30px 0px;;
  border: 1px solid $black;
  border-radius: 3px;
  font-weight: 300;
  &:hover {
    border: 1px solid $blue;
    color: $blue;
  }
  &:active {
    background: $blue;
    color: white;
  }
}
