---
type: archive
layout: default
---

{% if page.title == 'Archive' %}
<h1 class="archive-title"><small>Blog</small> {{ page.title }}</h1>
{% include archive_index.html %}
{% elsif page.tag and content != '' %}
<h1 class="archive-title">
  <small>Posts tagged with</small>
  {{ page.title }}
</h1>
{% else %}
<h1 class="archive-title">
  <small>Posts written in</small>
  {{ page.title }}
</h1>
{% endif %}
{% unless page.title == 'Archive' %}
{% if page.month %}
{% include archive_month.html %}
{% elsif page.year %}
{% include archive_year.html %}
{% elsif page.tag %}
{% include archive_tag.html %}
{% endif %}
{% endunless %}
