---
type: post
layout: default
comments: true
---

<article class="blogpost">
  <header>

    <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>
      <a href="{{ page.date | date: '/%Y/' | prepend: site.baseurl | prepend: '/archive' }}">
        {{ page.date | date: "%b %-d, %Y" }}
      </a>
    </time>

    <span class="post-category">
      <a href="{{ page.categories[0] | downcase | replace: ' ', '-' | prepend: '/categories/' | prepend: site.baseurl }}">
        {{ page.categories }}
      </a>
    </span>

    <span class="post-length">
      {{ content | number_of_words | plus:100 | divided_by:180 }} min read
    </span>

    <h1>{{ page.title }}</h1>

    {% if page.img %}
      <img src="{{ page.img }}">
    {% endif %}
  </header>

  {{ content }}
  <footer>
    <section>
      {% for tags in page.tags %}
        <a class="tag" href="{{ tags | downcase | replace: ' ', '-' | prepend:'/tags/' | prepend: site.baseurl }}">{{ tags }}</a>
      {% endfor %}
    </section>

    <section>
      <ul class="rrssb-buttons">

        <li class="rrssb-twitter">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | prepend: site.url }}"
             class="popup">
            <span class="rrssb-icon">
              {% include icons/twitter.html %} 
            </span>
            <span class="rrssb-text">tweet</span>
          </a>
        </li>
        <li class="rrssb-facebook">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" class="popup">
            <span class="rrssb-icon">
              {% include icons/facebook.html %} 
            </span>
            <span class="rrssb-text">share</span>
          </a>
        </li>
        <li class="rrssb-googleplus">
          <a href="https://plus.google.com/share?url={{ page.title | replace: ' ', '-' }}{{page.url | prepend: site.url }}" class="popup">
            <span class="rrssb-icon">
              {% include icons/google-plus.html %} 
            </span>
            <span class="rrssb-text">share</span>
          </a>
        </li>
        <li class="rrssb-pinterest">
          <a href="http://pinterest.com/pin/create/button/?url={{ page.url | prepend: site.url }}&amp;media={{ page.img | prepend: site.url }}&amp;description={{ page.title }}">
            <span class="rrssb-icon">
              {% include icons/pinterest.html %} 
            </span>
            <span class="rrssb-text">pin it</span>
          </a>
        </li>
        <li class="rrssb-pocket">
          <a href="https://getpocket.com/save?url={{ page.url | prepend: site.url }}">
            <span class="rrssb-icon">
              {% include icons/pocket.html %} 
            </span>
            <span class="rrssb-text">save</span>
          </a>
        </li>
        <li class="rrssb-email">
          <a href="mailto:?subject={{ page.title }} - Blogpost by Yasin Güzeldal&amp;body={{ page.excerpt | strip_html | append:  '%0A%0A Full Article: %0A%0A' }}{{ page.url | prepend: site.url }}">
            <span class="rrssb-icon">
              {% include icons/email.html %} 
            </span>
            <span class="rrssb-text">email</span>
          </a>
        </li>
      </ul>
    </section>

    <section>
      {% if page.comments %}
      {% include disqus_code.html %}
      {% endif %}
    </section>
  </footer>
</article>
<script src="{{ "/assets/js/rrssb.min.js" | prepend: site.baseurl }}"></script>
