---
layout: default
comments: true
---

<article class="blogpost">
  <header>
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>
      <a href="{{ page.date | date: '/%Y/' | prepend: site.baseurl | prepend: '/archive' }}">
        {{ page.date | date: "%b %-d, %Y" }}
      </a>
    </time>

    <span class="post-category">
      <a href="{{ page.categories[0] | downcase | replace: ' ', '-' | prepend: '/categories/' | prepend: site.baseurl }}">
        {{ page.categories }}
      </a>
    </span>

    <span class="post-length">
      {{ content | number_of_words | plus:100 | divided_by:180 }} min read
    </span>


    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}
  <footer>
    <section>
      {% for tags in page.tags %}
        <a class="tag" href="{{ tags | downcase | replace: ' ', '-' | prepend:'/tags/' | prepend: site.baseurl }}">{{ tags }}</a>
      {% endfor %}
    </section>
    <section>
      {% if page.comments %}
      {% include disqus_code.html %}
      {% endif %}
    </section>
  </footer>
</article>
